<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forms APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="tamanho" >

    <ion-grid>

      <ion-row lass="ion-justify-content-around" >
        <ion-col ize="12" size-sm>
          <ion-button  routerLink="/login">Login</ion-button></ion-col>
        <ion-col ize="12" size-sm>
          <ion-button routerLink="/registro">Registar</ion-button></ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
